<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

  
  <div class="container">
    <div class="row" >
      <div class="col-md-12" style="background-color:rgb(245, 236, 112)">
        <header>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Pãozinho de Ouro</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastro' %}">Cadastro</a>
                  </li>
              </div>
            </div>
          </nav>
        </header>
      
    </div>
    </div>
    <div class="row" style="padding: 12px;">
        <div class="col-md-4" style="display: flex; justify-content: center;">
          <div class="card" style="width: 18rem;">
            <img src="https://shorturl.at/bcvNO" class="card-img-top" alt="Pão Frances">
            <div class="card-body">
              <h5 class="card-title">Pão Frances</h5>
              <p class="card-text">Deliciosos Pães Franceses, sempre quentinhos</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" style=" display: flex; justify-content: center;">
          <div class="card" style="width: 18rem;">
            <img src="https://shorturl.at/cKM38" class="card-img-top" alt="Pão de Queijo">
            <div class="card-body">
              <h5 class="card-title">Pão de Queijo</h5>
              <p class="card-text">Delicioso Pão de queijo. Do forno direto para sua mesa</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" style=" display: flex; justify-content: center;">
          <div class="card" style="width: 18rem;">
            <img src="https://shorturl.at/ghNZ8" class="card-img-top" alt="Bolo de Chocolate">
            <div class="card-body">
              <h5 class="card-title">Bolo de Chocolate</h5>
              <p class="card-text">Delicioso Bolo de chocolate. Ótimo para festas</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="padding: 12px;">
        <div class="col-md-4" style=" display: flex; justify-content: center;">
          <div class="card" style="width: 18rem;">
            <img src="https://shorturl.at/pwQSU" class="card-img-top" alt="Pizza">
            <div class="card-body">
              <h5 class="card-title">Pizza</h5>
              <p class="card-text">Deliciosa pizza. Diversos sabores</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" style=" display: flex; justify-content: center;">
          <div class="card" style="width: 18rem;">
            <img src="https://shorturl.at/fmrTX" class="card-img-top" alt="pudim">
            <div class="card-body">
              <h5 class="card-title">Pudim</h5>
              <p class="card-text">Delicioso Pudim. Ideal para sobremesas</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" style=" display: flex; justify-content: center;">
          <div class="card" style="width: 18rem;">
            <img src="https://shorturl.at/cxBQZ" class="card-img-top" alt="Cupcake">
            <div class="card-body">
              <h5 class="card-title">Cupcake</h5>
              <p class="card-text">Deliciosos Cupcakes.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>